aiohttp==3.8.3
asyncio==3.4.3
black
DateTime
Faker==13.4.0
flake8
quart==0.17.0
Quart-CORS==0.5.0
hypercorn==0.13.2
matplotlib
numpy
openpyxl
Pillow
pip
pre-commit==2.19.0
psycopg==3.0.11
psycopg2==2.9.3
pytest==7.1.1
python-binary-memcached==0.31.1
python-dotenv==0.19.2
python-socketio==5.6.0
python-socketio[asyncio_client]
pytz
requests
sgp4==2.20
skyfield==1.42
SQLAlchemy==1.4.35
urllib3==1.26.8
