aiohttp==3.8.1
asyncio==3.4.3
DateTime==4.4
Faker==13.4.0
quart==0.17.0
Quart-CORS==0.5.0
hypercorn==0.13.2
matplotlib==3.5.1
numpy==1.22.3
openpyxl==3.0.9
Pillow==9.1.0
pip==22.0.4
psycopg==3.0.11
psycopg2==2.9.3
pytest==7.1.1
python-binary-memcached==0.31.1
python-dotenv==0.19.2
python-socketio==5.6.0
python-socketio[asyncio_client]
pytz==2021.3
requests==2.27.1
sgp4==2.20
skyfield==1.42
SQLAlchemy==1.4.35
urllib3==1.26.8
